select {
    background-color:rgba(0, 0, 0, 0.5);
    appearance: none;
    display: block;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  height: 30px;
  box-shadow: inset 1px 1px 3px #ccc;
  border-radius: 5px;
  }
  
  .select-wrapper {
    position: relative;
  }
  
  .select-wrapper::after {
    content: "▼";
    font-size: 1rem;
    top: 6px;
    right: 10px;
    position: absolute;
  }